@import '../variables';

.ribbon {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: -60px;
  font-size: 20px;
  font-weight: 300;
  background-color: darken($color-orange, 6%);
  color: #fff;
  padding: .5rem 5rem;
  transform: rotate(45deg);
}