@import 'variables';

/**
 * Fonts
 */

@mixin font-regular {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
}
@mixin font-bold {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 600;
}
@mixin font-title {
  font-family: 'Sanchez', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

/**
 * Loading animation
 */
@mixin loading($color: #aaa, $width: 2px, $size: 3rem) {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$size/2;
    margin-left: -$size/2;
    width: $size;
    height: $size;
    border: $width solid transparentize($color, 0.8);
    border-radius: 50%;
    border-top-color: transparentize($color, 0.2);

    animation: spin 1s linear infinite;
  }
}