@import '~normalize.css';

@import 'animations';
@import 'variables';
@import 'mixins';

@import 'forms';
@import 'typography';

@import 'components/badge';
@import 'components/button';
@import 'components/list';
@import 'components/panel';
@import 'components/radio';
@import 'components/ribbon';
@import 'components/switch';
@import 'components/tag';
@import 'components/tooltip';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  @include font-regular;
  color: $color-font;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: border-box
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(156, 156, 156, 0.35);
  transition: border 0.3s ease;
  color: inherit;
  cursor: pointer;

  &:hover {
    border-color: #9b9b9b;
    text-decoration: none;
  }

  &.is-text {
    border-color: transparent;
    &:hover {
      border-color: rgba(156, 156, 156, 0.35);
    }
  }
  &.is-blue {
    color: $color-blue;
  }
}

.app {
  position: absolute;
  top: $menu-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/**
 * Custom scrollbars
 */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.09);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-right-width: 2px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.19);
  }
}
::-webkit-scrollbar-track {
  border-top: 1px solid rgba(200, 200, 200, 0.35);
  border-left: 1px solid rgba(200, 200, 200, 0.35);
}

.page-enter-active, .page-leave-active {
  transition: 0.4s opacity ease;
}
.page-enter, .page-leave-to {
  opacity: 0;
}